{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles %}        
    {% if loop.index <= DEFAULT_PAGINATION %}
            <header>
              <h1>
                <a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a>
              </h1>

              {% if not HIDE_DATE %}
              <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
              {% endif %}
            </header>

            <article>
                {{ article.content }}{% include 'comments.html' %}
            </article>
    {% endif %}
    {% endfor %}
{% else %}
    No posts found.
{% endif %}
{% include "pagination.html" %}
{% endblock content %}
